<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eicas.cms.mapper.ArticleMapper">
    <update id="auditArticle" parameterType="list">
        update cms_article
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="audit_comments =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.auditComments != null">
                        when id=#{item.id} then #{item.auditComments}
                    </if>
                </foreach>
            </trim>
            <trim prefix="audit_user_id =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.auditUserId!=null">
                        when id=#{item.id} then #{item.auditUserId}
                    </if>
                </foreach>
            </trim>
            <trim prefix="audit_time =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.auditTime!=null">
                        when id=#{item.id} then #{item.auditTime}
                    </if>
                </foreach>
            </trim>
            <trim prefix="state =case" suffix="end,">
                <foreach collection="list" item="item" index="index">
                    <if test="item.state!=null">
                        when id=#{item.id} then #{item.state}
                    </if>
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>
</mapper>
