<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eicas.ecms.mapper.CollectionRuleMapper">
    <select id="page" resultMap="resultMap_collectionRule">
        SELECT info_collection_rule.*, info_column.column_name AS columnName
        FROM info_collection_rule, info_column
        <where>
            info_collection_rule.column_id = info_column.id
            and info_collection_rule.is_deleted=#{entity.deleted}
            <if test="entity.id != null and entity.id != ''">
                and id=#{id}
            </if>
        </where>
    </select>

    <!--    <select id="getChildren" resultMap="resultMap_collectionRule">-->
    <!--        select * from tb_collection_rule where deleted = 0 and parent_id=#{id}-->
    <!--    </select>-->

    <resultMap type="com.eicas.ecms.entity.CollectionRule" id="resultMap_collectionRule">
        <id column="id" property="id"/>
        <result column="column_id" property="columnId"/>
        <!--id作为参数递归调用getDeptTree，查询子节点-->
        <!--        <collection property="children" column="id" select="getChildren" ofType="com.example.demo"></collection>-->
    </resultMap>
</mapper>
