<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eicas.ecms.mapper.ColumnMapper">
    <select id="page" resultType="com.eicas.ecms.entity.Column">
        SELECT  info_column.*, info_column_type.column_type_name AS columnTypeName
        FROM info_column, info_column_type
        <where>
            info_column.column_type_id = info_column_type.id
            AND info_column.is_deleted=#{entity.deleted}
            <if test="entity.columnName != null and entity.columnName != ''">
                AND LOCATE(#{entity.columnName}, `column_name`)>0
            </if>
            <if test="entity.dateFrom != null and entity.dateFrom != '' and entity.dateTo != null and entity.dateTo != ''">
                AND tb_column_setting.created_time  BETWEEN #{entity.dateFrom} AND #{entity.dateTo}
            </if>
        </where>
    </select>

    <select id="getChildren" resultMap="result_map_column">
        SELECT  info_column.*, info_column_type.column_type_name AS columnTypeName
        FROM info_column, info_column_type
        <where>
            AND info_column.column_type_id = info_column_type.id
            AND info_column.is_deleted=0
            <if test="id != null and id != ''">
                AND info_column.parent_id=#{id}
            </if>
            <if test="id == null or id == ''">
                AND ISNULL(parent_id)
            </if>
        </where>
    </select>

    <select id="getList" resultMap="result_map_column">
        SELECT  info_column.*, info_column_type.column_type_name AS columnTypeName
        FROM info_column, info_column_type
        <where>
            info_column.column_type_id = info_column_type.id
            AND info_column.is_deleted=#{entity.deleted}
            AND ISNULL(parent_id)
            <if test="entity.columnTypeId != null and entity.columnTypeId != ''">
                AND info_column.column_type_id = #{entity.columnTypeId}
            </if>
            <if test="entity.columnName != null and entity.columnName != ''">
                AND LOCATE(#{entity.columnName}, `column_name`)>0
            </if>
            <if test="entity.dateFrom != null and entity.dateFrom != '' and entity.dateTo != null and entity.dateTo != ''">
                AND tb_column_setting.created_time  BETWEEN #{entity.dateFrom} AND #{entity.dateTo}
            </if>
        </where>
    </select>

    <resultMap type="com.eicas.ecms.entity.Column" id="result_map_column">
        <id column="id" property="id"/>
<!--        <result column="is_deleted" property="deleted"/>-->
        <!--id作为参数递归调用getDeptTree，查询子节点-->
        <collection property="children" column="id" select="getChildren" />
    </resultMap>

</mapper>
