<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eicas.ecms.mapper.EcmsMapper">
    <select id="page" resultType="com.eicas.ecms.entity.Ecms">
        SELECT info_ecms.*, info_column.column_name AS columnName
        FROM info_ecms, info_column
        <where>
            info_ecms.column_id = info_column.id
            and info_ecms.is_deleted=#{entity.deleted}
            <if test="entity.columnId != null and entity.columnId != ''">
                and info_ecms.column_id=#{entity.columnId}
            </if>
            <if test="entity.id != null and entity.id != ''">
                and info_ecms.id=#{entity.id}
            </if>

            <if test="entity.title != null and entity.title != ''">
                and LOCATE(#{entity.title}, `title`)>0
            </if>
        </where>
    </select>
</mapper>
