<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eicas.ecms.mapper.RoleMapper">
    <select id="page" resultMap="resultMap_role">
        select * from sys_role
        <where>
            is_deleted = #{entity.deleted}
            <if test="entity.id != null and entity.id != ''">
                and id=#{id}
            </if>
        </where>
    </select>


    <resultMap type="com.eicas.ecms.entity.Role" id="resultMap_role">
        <id column="id" property="id"/>
        <!--id作为参数递归调用getDeptTree，查询子节点-->
        <collection property="permissionList" column="id" select="com.eicas.ecms.mapper.RolePermissionMapper.queryByRoleId"></collection>
    </resultMap>

</mapper>
